<%- include('../components/header.ejs') %>
<div class="container p-3">
    <div class="bg-danger rounded p-3 d-flex flex-row justify-content-between align-items-center">
        <h2 class="text-white">Menu de <%= restaurant.nombre %></h2>
        <div class="d-flex flex-row align-items-center gap-3">
            <a href="/admin"><button class="btn btn-dark">Volver</button></a>
            <a href="/admin/hamburguesa/form/<%= restaurant.id %>"><button class="btn btn-light">Agregar hamburguesa</button></a>
        </div>
    </div>
    <div class="row gap-4 justify-content-center p-3">
        <% hamburguesas.forEach(h => { %>
            <div class="card col-3 rounded shadow p-2 pt-4">
                <img class="card-img-top" src="<%= h.imagenUrl %>" alt="Imagen de hamburguesa <%= h.nombre %>">
                <div class="card-body">
                  <h5 class="card-title"><%= h.nombre %></h5>
                  <p class="card-text"><%= h.descripcion %></p>
                  <p class="card-text">Precio: <%= h.precio %> Bs.</p>
                  <p class="card-text mb-4">Calificacion: </p>

                  <div class="d-flex flex-row justify-content-start align-items-center gap-3">
                    <form action="/api/hamburguesa/<%= restaurant.id %>/<%= h.id %>/delete" method="post">
                        <button class="btn btn-dark">Eliminar</button>
                      </form>
                      <form action='/admin/hamburguesa/form/<%= restaurant.id %>/<%= h.id %>' method="get">
                        <button class="btn btn-primary">Editar</button>
                      </form>
                  </div>
                  
                </div>
              </div>
        <% }) %>
    </div>
</div>
<%- include('../components/footer.ejs') %>
