<%- include('../components/header.ejs') %>
<div class="container p-3">
    <div class="row bg-dark text-end rounded p-3 mb-3">
        <h1 class="text-light">Menu de <%= restaurant.nombre %></h1>
    </div>
    <div class="row bg-danger rounded justify-content-center align-items-center p-3">
        <% if (hamburguesas.length>0) { %>
            <% hamburguesas.forEach(h => { %>
                <div class="col-3 p-2">
                    <div class="card bg-light rounded shadow d-flex flex-column justify-content-between align-items-center p-4">
                        <img src="<%= h.imagenUrl ? h.imagenUrl : '/uploads/defaultBurger.jpg' %>" alt="Logo de <%= h.nombre %>" class="img-fluid rounded mb-3 shadow" style="width: 100%;">
                        <h4 class="mb-3"><%= h.nombre %></h4>
                        <form action="/restaurant-page/<%= restaurant.id %>/<%= h.id %>" method="get">
                            <button type="submit" class="btn btn-danger">Ver detalles</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        <% }else{ %>
            <div class="col6 text-center text-light d-flex justify-content-center align-items-center "  style="height: 80vh;">
                <h1>No hay hamburguesas registradas aqui</h1>
            </div>
        <% } %>
        
    </div>
</div>
<%- include('../components/footer.ejs') %>
