<%- include('../components/header.ejs') %>
<div class="container p-3">
    <div class="row mb-2">
        <h1 class="col-3">!Bienvenido a la Burger Week!</h1>
    </div>
    <div class="row bg-danger rounded mb-2" style="height: 10px;"></div>
    <div class="row bg-dark rounded p-3 justify-content-center align-items-center">
        <h2 class="text-light text-end mb-3">¿Que restaurante te llama?</h2>
        <% restaurants.forEach(r => { %>
            <div class="col-3 p-2">
                <div class="card bg-light rounded shadow d-flex flex-column justify-content-between align-items-center p-4">
                    <img src="<%= r.logoUrl ? r.logoUrl : '/uploads/defaultLogo.jpg' %>" alt="Logo de <%= r.nombre %>" class="img-fluid rounded mb-3 shadow" style="width: 100%; height: 100%;">
                    <h4 class="mb-3"><%= r.nombre %></h4>
                    <form action="/restaurant-page/<%= r.id %>" method="get">
                        <button type="submit" class="btn btn-danger">Ver Restaurant</button>
                    </form>
                </div>
            </div>
        <% }) %>
    <div>

</div>    
<%- include('../components/footer.ejs') %>
